# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print (s1, s2, s3)

0     4
1     1
2     1
3     4
4     1
5     2
6     1
7     4
8     3
9     2
10    4
11    2
12    4
13    2
14    3
15    4
16    4
17    4
18    2
19    4
20    3
21    2
22    4
23    3
24    1
25    1
26    2
27    3
28    2
29    2
     ..
70    1
71    1
72    2
73    3
74    1
75    3
76    4
77    4
78    3
79    2
80    1
81    1
82    3
83    1
84    4
85    4
86    3
87    4
88    4
89    4
90    3
91    1
92    1
93    2
94    1
95    4
96    1
97    4
98    1
99    2
Length: 100, dtype: int32 0     3
1     3
2     1
3     2
4     2
5     1
6     2
7     3
8     1
9     1
10    1
11    1
12    3
13    2
14    3
15    2
16    2
17    3
18    3
19    3
20    2
21    2
22    1
23    1
24    1
25    3
26    2
27    2
28    3
29    2
     ..
70    2
71    2
72    2
73    3
74    2
75    1
76    2
77    3
78    3
79    2
80    1
81    3
82    2
83    2
84    1
85    1
86    1
87    2
88    3
89    1
90    2
91    3
92    2
93    2
94    3
95    3
96    1
97    3
98    3
99    3
Length: 100, dtype: int32 0     23799
1     25654
2     14441
3     29702
4     12197
5     28567
6     13422
7     23974
8     17006
9     15834
10    12678
11    22740
12    21006
13    16348
14    29541
15    18272
16    17598
17    14013
18    26669
19    27956
20    15058
21    27331
22    19045
23    29767
24    29943
25    15493
26    25306
27    29848
28    25621
29    10908
      ...
70    29402
71    16674
72    14337
73    15766
74    16111
75    27295
76    14014
77    29829
78    11819
79    25022
80    24546
81    19298
82    16164
83    14996
84    12135
85    17670
86    23999
87    18064
88    10803
89    28662
90    27525
91    25081
92    21796
93    20768
94    13546
95    19552
96    16217
97    12140
98    11264
99    18265
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Ops it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299